.caixa {
  width: 600px;
  height: 600px;
}

body {
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.caixa {
  display: flex;
  align-items: center;
  justify-content: center;
}