body {
  background-color: white;
}

.h1-1 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 100;
}

.img-nav {
  width: 75px;
  height: 75px;
}

.div-nav-img {
  margin: 10px;
}

.div-1 {
  text-align: center;
}

.links-1 {
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}

.img-grid {
  width: 300px;  
  height: 300px;
}

.div-img {
  display: grid;
  grid: auto / 50% 50%;
  justify-items: center;
  row-gap: 100px;
}

.h4-1 {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
}

.h4-2 {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
}

.h4-3 {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
}

.h4-4 {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
}
